*{
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.slider{
    width: 100%;
    min-height:80vh ;
    background-color: black;
    aspect-ratio: 16/9;
    position: relative;
}
.slider-background{
    width:100% ;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    color: white;
    font-size: 2rem;
}
h2{
    font-size: 2rem;
    margin: 22px;
    margin-bottom: 100px;
    text-align: center;
}
p{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.slider-content p{
    color: white;
    font-size: 1.5rem;
}
.section{
    padding: 100px 0;
}
.boxed{
    max-width: 1280px;
    margin-inline: auto;
}
.flex{
    display: flex;
    
}
.dark{
    background:url(../img/pexels-antonio-avanti-7396384-17072947.jpg);
    background-size: cover;
    color: #fff;

}
.w40{
    width: 40%;
}
.w60{
    width: 60%;
}
.w25{

}
.w32{
    width: 32%;
}
.sapce-between{
    justify-content: space-between;
}
.gap20{
    gap: 20px;
}
.skill{
    background: #333;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;

}
.skill img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100px;
}
.text-center{
    text-align: center;
}
.skill h3{
    margin-top: 30px;

}
a img{
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
@media(max-width:810px) {
    header{
        display: none;
    }
    h2{
        font-size: 1.75rem;
        margin-bottom: 20px;
    }
    .slider{
        height: 60vh;
    }
    .slider-content{
        width: 90%;
    }
    .slider-content p{
        margin-top:20px ;
        font-size:1rem ;
        text-wrap: balance;
    }
    h1{
        font-size:1.5rem ;
    }
    p{
        font-size: 1rem;
        text-wrap: balance;
    }
    .toColumn{
        flex-direction: column;
    }
    .wvm100{
        width: 100%;
    }
    .section{
        padding-left: 50px 0;
    }
    .boxed{
        max-width: 90%;
    }
}
.photo_profil img{
    width: 30%;
    height: 30%;
    box-sizing: border-box;
    border-radius: 6rem;

    
}
.container {
  width: 35%;  
  margin: 0 auto;
}

img {
  width: 50px; 
  height: auto; 
  position: relative;
}
.contact p {
    position: relative;
    top: -30px;
    text-align: center;
}
p{
    text-align: center;
}
.realisation p{
    margin: auto;
    width: auto;
}

p{
    text-align: center;
}
